<div class="row">
    <div class="col-lg-10">
        <h1>MyPi Audio</h1>
    </div>
    <div class="col-lg-2">
        <form name="form" class="fileInput">
            <input type="file" id="file1" name="file" ng-files="getTheFiles($files)"
                   ng-keep="false"
                   ngf-pattern="'audio/*'"
                   ngf-accept="'audio/*'"
                   >
            <label for="file2">Enter Artist:</label>
            <input type="text" id="file2" name="artist" ng-model="myCont.info">
            <input type="button" class="btn btn-default"
                   ng-click="uploadFiles('/dashboard/uploadAudio', 'audio', myCont.currentUser, myCont.info, file, $event)"
                   value="Upload"
                   >
                <div ng-class="{true: 'sk-circle', false: 'sk-spinner-hidden'}[finderLoader]">
                    <div class="sk-circle1 sk-child"></div>
                    <div class="sk-circle2 sk-child"></div>
                    <div class="sk-circle3 sk-child"></div>
                    <div class="sk-circle4 sk-child"></div>
                    <div class="sk-circle5 sk-child"></div>
                    <div class="sk-circle6 sk-child"></div>
                    <div class="sk-circle7 sk-child"></div>
                    <div class="sk-circle8 sk-child"></div>
                    <div class="sk-circle9 sk-child"></div>
                    <div class="sk-circle10 sk-child"></div>
                    <div class="sk-circle11 sk-child"></div>
                    <div class="sk-circle12 sk-child"></div>
                </div>
            </form>
    </div>
</div>
<div class="row" style="text-align:center;">
  <div ng-repeat="audio in myCont.media.audio | orderBy: 'mediaInfo'" class="mediaDiv">
      <p>Click to stream</p>
      <div class="streamContainer"
            ng-click="myCont.streamMedia(audio.ref)">
          <img class="mediaHover" src="../img/audio.png" />
      </div>
      <div class="mediaDivInfoContainer">
          <span class="mediaDivInfo"><h5>Artist: {{audio.mediaInfo}}</h5></span>
          <span class="mediaDivInfo"><h5>Track: {{audio.title}}</h5></span>
          <span class="mediaDivInfo">
              <button class="btn btn-primary"
                      ng-click="myCont.downloadFile(audio.ref, 'z:\testDownloads')">Download
              </button>
              <button class="btn btn-delete"
                      ng-click="myCont.removeFile('/dashboard/removeMedia/', 'GET', 'audio', myCont.currentUser,                            audio.ref)">Delete
              </button>
          </span>
      </div>
  </div>
</div>