<div class="row">
    <div class="col-lg-10">
        <h1>MyPi Audio</h1>
    </div>
    <div class="col-lg-2">
        <form name="form">
            <input type="file" id="file1" name="file" ng-files="getTheFiles($files)"
                   accept="'audio/*'">
            <input type="button" class="btn btn-default" ng-click="uploadFiles('/dashboard/uploadAudio', 'audio', myCont.currentUser)" value="Upload">
        </form>
    </div>
</div>
<div class="row">
  <div ng-repeat="audio in myCont.media.audio" style="height:50px;width:100%;background-color:#999999;border:1px solid deeppink;">
      <img ng-src="{{audio.url}}" />
  </div>
</div>