<div class="row">
    <div class="col-lg-10">
        <h1>MyPi Documents</h1>
    </div>
    <div class="col-lg-2">
        <form name="form">
            <input type="file" id="file1" name="file" ng-files="getTheFiles($files)"
                   ng-keep="false"
                   ngf-pattern="'.pdf, .txt, .doc, .docx, .xls, .xlsx, .csv, .txt, .rtf, .html'">
            <input type="button" class="btn btn-default" ng-click="uploadFiles('/dashboard/uploadDocument', 'document', myCont.currentUser)" value="Upload">
        </form>
    </div>
</div>
<div class="row">
    <div ng-repeat="doc in myCont.media.document" class="mediaDiv">
        <img ngf-thumbnail="file || '../img/document.png'" style="width:100px;height:100px">
        <div class="mediaDivInfoContainer">
            <span class="mediaDivInfo"><h5>Document: {{doc.title}}</h5></span>
            <span class="mediaDivInfo">
          <button class="btn btn-primary"
                  ng-click="myCont.downloadFile(doc.ref, 'z:\testDownloads')">Download
          </button>
      </span>
        </div>
    </div>
</div>