<div class="row">
    <div class="col-lg-10">
        <h1>MyPi Images</h1>
    </div>
    <div class="col-lg-2">
        <form name="form">
            <input type="file" id="file1" name="file" ng-files="getTheFiles($files)"
                   ng-keep="false"
                   ngf-patter="'image/*'"
                   ngf-accept="'image/*'"
                    >
            <input type="button" class="btn btn-default" ng-click="uploadFiles('/dashboard/uploadImage', 'image', myCont.currentUser)" value="Upload">
        </form>
    </div>
</div>
<div class="row">
    <div ng-repeat="image in myCont.media.image" class="mediaDiv">
        <img ngf-thumbnail="file" style="width:100px;height:100px">
        <div class="mediaDivInfoContainer">
            <span class="mediaDivInfo"><h5>Image: {{image.title}}</h5></span>
            <span class="mediaDivInfo">
          <button class="btn btn-primary"
                  ng-click="myCont.downloadFile(image.ref, 'z:\testDownloads')">Download
          </button>
          <button class="btn btn-delete"
                  ng-click="myCont.removeFile(image.ref)">Delete
          </button>
      </span>
        </div>
    </div>
</div>