<div class="row">
    <div class="col-lg-10">
        <h1>MyPi Images</h1>
    </div>
    <div class="col-lg-2">
        <form name="form">
            <input type="file" id="file1" name="file" ng-files="getTheFiles($files)"
                   ng-keep="false"
                   ngf-patter="'image/*'"
                   ngf-accept="'image/*'"
                    >
            <input type="button" class="btn btn-default" ng-click="uploadFiles('/dashboard/uploadImage', 'image', myCont.currentUser)" value="Upload">
            <div ng-class="{true: 'sk-circle', false: 'sk-spinner-hidden'}[finderLoader]">
                <div class="sk-circle1 sk-child"></div>
                <div class="sk-circle2 sk-child"></div>
                <div class="sk-circle3 sk-child"></div>
                <div class="sk-circle4 sk-child"></div>
                <div class="sk-circle5 sk-child"></div>
                <div class="sk-circle6 sk-child"></div>
                <div class="sk-circle7 sk-child"></div>
                <div class="sk-circle8 sk-child"></div>
                <div class="sk-circle9 sk-child"></div>
                <div class="sk-circle10 sk-child"></div>
                <div class="sk-circle11 sk-child"></div>
                <div class="sk-circle12 sk-child"></div>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div ng-repeat="image in myCont.media.image" class="mediaDiv">
        <img class="mediaHover" src="../img/image.png" style="width:100px;height:100px">
        <div class="mediaDivInfoContainer">
            <span class="mediaDivInfo"><h5>Image: {{image.title}}</h5></span>
            <span class="mediaDivInfo">
          <button class="btn btn-primary"
                  ng-click="myCont.downloadFile(image.ref, 'z:\testDownloads')">Download
          </button>
          <button class="btn btn-delete"
                  ng-click="myCont.removeFile(image.ref)">Delete
          </button>
      </span>
        </div>
    </div>
</div>